@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
body {
  background-color: #e5edf4;
  font-family: "Inconsolata", monospace;
}

.panel {
  overflow: auto;
  height: 20vh;
  border-radius: 5px;
  background-color: white;
}

.form {
  width: 98%;
  margin: 0 auto;
}
.form input {
}
input.invalid {
  border: 1px solid red;
}
.form-text__error {
  color: red;
}
.form-control {
  box-shadow: none !important;
  padding: 5px 9px;
}
.form-group {
  font-weight: bold;
}
input.form-control {
  height: 30px;
  border-radius: 5px;
}
