body{
    background-color: #e5edf4;
}

.left-right-bar {
    color: #4582ec;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.panel {
    overflow: auto;
    height: 20vh;
    border-radius: 5px;
    background-color: white;
}