.modal-header {
  background-color: #4582ec;
  color: white;
  padding: 12px 17px;
  border: none;
}
.modal-close {
  opacity: 0.75;
  cursor: pointer;
}
.modal-close:hover {
  opacity: 1;
}
.modal-title {
  font-weight: bold;
  font-size: 14px !important;
}
.modal-content {
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  background-color: transparent;
}
.modal-body {
  font-size: 14px;
  color: #656c7f;
  padding: 20px;
  background-color: white;
}

.modal-dialog {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
@media all and (max-width: 600px) {
  .modal-dialog {
    margin: 0;
  }
}
