.modal-header {
  background-color: #4582ec;
  color: white;
  padding: 12px 17px;
  border: none;
}
.modal-close {
  opacity: 0.75;
  cursor: pointer;
}
.modal-close:hover {
  opacity: 1;
}
.modal-title {
  font-weight: bold;
  font-size: 14px !important;
}
.modal-content {
  border: none;
}
.modal-body {
  font-size: 14px;
  color: #656c7f;
}

.modal-body {
  padding: 20px;
}
.modal-dialog {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
