.photo-section-container {
  font-size: 15px;
  width: 100%;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
.left-right-bar {
  color: #4582ec;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.albums-count {
  color: #747474;
  margin-left: 5px;
}
.albums-bar-left {
  margin-right: 10px;
}
.add-photos-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.add-photos-button label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.photos-upload-input {
  visibility: hidden;
}
.add-album-button {
  margin-right: 25px;
  display: inline-block;
  cursor: pointer;
}
.album-photo {
  flex: 0 0 20%;
  max-width: 20%;
}
.albums-panel {
  background-color: white;
  width: 100%;
  position: relative;
  padding: 7px;
  border-radius: 5px;
}
.albums-panel.able-to-expanded {
  border-radius: 5px 5px 0 0;
}
.albums-panel-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.albums-panel-empty .ratio__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.album-photo-empty {
  padding: 0 7px;
  flex: 0 0 20%;
  max-width: 20%;
  margin: 7px auto;
}
.album-photo-empty > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.album-photo {
  padding: 0 7px;
  margin: 7px 0;
}

.album-photo-item {
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f3f4f5;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 35%;
}
.photos_album_no_cover {
  background-size: 40%;
  background-position: center 50%;
}
.album-expand-btn {
  color: #4582ec;
  font-size: 2rem;
  border: none;
  background-color: white;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #f3f4f5;
  width: 100%;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.album-expand-btn:hover {
  background-color: #f1f2f6;
}
.album-expand-btn span {
}
.album-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.album-info {
  color: white;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 35px 5px 5px 5px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.53) 100%
  );
}
.album-info-wo_shadow {
  background: none;
}
.album-photo-item img {
  width: 100%;
}
.album-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.album-title_black {
  color: #959595;
  font-weight: bold;
}
.ratio__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ratio {
  padding-top: 75%;
  position: relative;
}
.expand-text {
  font-size: 15px;
  display: flex;
  align-items: center;
}
.breadcrumbs {
  display: flex;
  align-items: stretch;
}
.single-photo-page-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-photo-page-wrap img {
  max-height: 90%;
}
.single-photo-page-wrap-btn {
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 20px;
  color: blue;
}
