.slider-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider-overlay {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.slider {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 96vh;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}
.slider img {
  max-width: 100%;
  max-height: 100%;
}
.slider-close {
  outline: none !important;
  position: absolute;
  z-index: 5000;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  width: 100px;
  height: 100px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.slider-close:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 1);
}
.slider-arrow {
  z-index: 5000;
  width: 100px;
  height: 80%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.slider-arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 1);
}
.slider-arrow__left {
  position: absolute;
  left: 0;
  top: 100px;
}
.slider-arrow__right {
  position: absolute;
  right: 0;
  top: 100px;
}
.slider-photo-description,
.slider-photo-created,
.slider-photo-countOfPhoto,
.slider-photo-delete {
  position: absolute;
  bottom: 1%;
  color: white;
  z-index: 5000;
}
.slider-photo-created {
  left: 2%;
}
.slider-photo-countOfPhoto {
  left: 2%;
  bottom: 4%;
}
.slider-photo-delete {
  cursor: pointer;
  right: 2%;
}
.slider-photo-description {
  min-width: 50px;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}
.slide-edit-input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}
